
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);


body {
    margin: 0px;
    padding: 0px;
  
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans";
  }

  .top-container {margin-bottom: 15px;}

  .top-container > h1 {color: white;
    font-weight: 600;
    font-size: 25px;
    margin-left: 21px;
    padding-top: 17px;}

  .top-container > p {    color: white;
    font-size: 12px;
    margin-left: 20px;}

.tap-container {background-image: url(assets/background1.svg);width: 100%;padding-bottom: 20px;margin-bottom: 17px;border-radius: 0px 0px 11px 11px;height: 350px;}

.play-item > img  {width: 112px;height: 112px;object-fit: cover;border-radius: 250px;}

.play-item {cursor: pointer; background-color: transparent;
  border: none;
  color: white;padding: 10px;border-radius: 7px;transition: 0.1s ease;}

  .play-item:focus {outline: none;}

  .play-item:hover {background-color: rgba(0, 0, 0, 0.185);}

.p1 {    position: absolute;
  top: 133px;
  margin-left: 95px;
 }

.point-counter {float: right;
  text-align: right;
  margin-right: 14px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: -39px;
  margin-right: 25px;}

.play-area {margin: auto;    background-color:#BF3F3D;
    border-radius: 200px;    width: 279px;
    height: 279px;margin-top: -17px;}

.active-character {width: 133px; height: 133px;object-fit: cover;border-radius: 150px;}

.circle-img {margin: auto; width: fit-content;height: 133px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;border-radius: 150px;}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.ability-indicator  {margin: auto;width: fit-content;padding-top: 23px;}

.ability-indicator > p {background-color: #ffffff54;text-align: center;font-size: 12px;border-radius: 50px;padding-left: 7px;padding-right: 7px;}

.ability-indicator > h6 {text-align: center;color: white; font-weight: 600;margin-top: 3px;margin-bottom: 16px;}

.character-stats > h4 {    text-align: center;
  font-size: 22px;
  color: white;
  padding-top: 8px;
  font-weight: 600;}

  .character-stats > p {    text-align: center;
    font-size: 11px;
    color: white;
    padding-top: 0px;}

    .center-container {margin: auto; width: 920px;}

    .addPoints > p {width: fit-content;background-color: white;padding-left: 10px;padding-right: 11px;border-radius: 50px;font-weight: 600;padding-top: 5px;padding-bottom: 5px;}

    .addPoints {margin: auto; width: fit-content;;}

    .point-wrapper {position: absolute; z-index: 150;width: 920px;margin-top: 15px;}

    #addPointAnimation {display: none;}

    .filter {filter: brightness(1.1);}

    /*-------------------------Usables------------------------*/


.usables{border: solid 1px lightgray;border-radius: 11px;}

.usables > h3 {text-align: center;font-weight: 600;padding-bottom: 15px;padding-top: 15px;}

    .usable-top > h4 {font-size: 20px;font-weight: 600;}

    .usable-top > p {font-size: 14px;}

    .usable-top >  h6 {font-size: 12px; width: fit-content;;color: white; padding-left: 7px;padding-right: 7px;border-radius: 50px;float: right;    margin-top: -30px;
      margin-right: 16px;}

      .usable-item > p {font-size: 14px; margin-top: 7px;    line-height: 26px;}
    .usable-item {width: 44%;display: inline-block;margin-bottom: 28px;}

    .usable-item:hover {cursor: pointer;}

    .second {margin-left: 34px;}

    .first {margin-left: 32px;}

    audio {display: none;}